.plant-main-box{
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.05);
    background-color: #decdcd;
}

.plant-section {
margin-top: 12px;
  background-color: #f8f9fa; /* light gray background */
}
 
.plant-main-box {
  background-color: #fff;
  padding: 30px;
 
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
 
.plant-main-box:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.15);
}
 
.plant-main-box h2 {
  margin-bottom: 16px;
  font-weight: 600;
}
 