.pt-contact{
        margin-top: 40px;
        
}


.pt-container{
    
}

.pt-address{
     margin-top: 40px;
}


/* Gallery.css *//* PlantationGallery.css */
.pt-gallery{
    margin-top: 60px;
}
.gallery-container {
width: 100%;
padding: 40px 20px;
}


.gallery-title {
text-align: center;
font-size: 28px;
font-weight: 700;
margin-bottom: 30px;
}


.gallery-grid {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
gap: 20px;
}


.gallery-card {
overflow: hidden;
border-radius: 12px;
box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
transition: transform 0.3s ease-in-out;
}


.gallery-card:hover {
transform: scale(1.05);
}


.gallery-image {
width: 100%;
height: 250px;
object-fit: cover;
}