
.ourteam-section {
  background-color: #f8f9fa;
  /* light gray background */
}

.ourteam-box {
  background-color: #fff;
  padding: 30px;

  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.ourteam-box:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.15);
}

.ourteam-box h2 {
  margin-bottom: 16px;
  font-weight: 600;
}
.breadcrumb-link {
  text-decoration: none;
  color: #000; /* your color */
  font-weight: 600;
}

.breadcrumb-link:hover {
  color: rgb(28, 84, 28); /* hover color */
}

.company-banner {
  background-image: url('../../assets/images/Plant3.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 60px;
}

.site-breadcrumb-wpr {
  position: relative;
  z-index: 1;
  text-align: center;
  color: #fff;
  padding: 40px;
}

.site-breadcrumb .breadcrumb-title {
  font-size: 4rem;
  text-transform: capitalize;
  color: #fff;
  font-weight: 600;
  margin-bottom: 20px;
  letter-spacing: 0.0025em;
  display: inline-block;
  line-height: 1;
  position: relative;
  z-index: 1;
}

.site-breadcrumb .breadcrumb-menu li {
  position: relative;
  display: inline-block;
  margin-left: 3rem;
  color: #fff;
  font-weight: 500;
  text-transform: capitalize;
}

.site-breadcrumb .breadcrumb-menu li:first-child {
  margin-left: 0;
}

.site-breadcrumb .breadcrumb-menu li::before {
  position: absolute;
  content: '/';
  font-family: 'Font Awesome\ 5 Free';
  font-weight: 900;
  width: 2rem;
  right: -24px;
  top: 3px;
  text-align: center;
  font-size: 1.4rem;
  color: var(--br-white);
}

.clearfix::after {
  display: block;
  clear: both;
  content: "";
}

.site-breadcrumb {
  height: 60vh;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  z-index: 3;
}

.breadcrumb-menu {
  justify-content: center;
  display: flex;
}