.team-container {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
  margin: 50px 0;
}
.pt-contact-team{
    margin-top: 40px;
}
.team-card {
  width: 260px;
  background: white;
  border-radius: 0 0 60px 60px;
  padding: 30px 20px;
  text-align: center;
  box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.15);
  transition: 0.3s ease-in-out;
}

.team-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 35px rgba(0, 0, 0, 0.2);
}

.team-photo {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  margin-top: -70px;
  border: 5px solid white;
  background: white;
}

.team-name {
  margin-top: 25px;
  font-size: 1.1rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.3;
}

.team-role {
  font-size: 1rem;
  margin-top: 10px;
  font-style: italic;
  color: #444;
}
